aws_region    = "us-east-1"
stack_name    = "my-sftp-cognito"
test_username = "myuser"
test_email    = "myuser@example.com"
test_password = "MySecurePass123!"

tags = {
  Environment = "demo"
  Project     = "sftp-cognito-example"
  Owner       = "your-name"
}
