# Terraform files
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars
terraform.tfvars.backup
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc

# Keep the example
!terraform.tfvars.example
